@model ShopMyPham_MVC.Framework.Beacon
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("SaveInfoBeacon", "Beacon"))
{
    <style>
        #mapCanvas {
            height: 600px;
        }
    </style>
    @section jsFooter
{
        <script src="/Accset/Client/js/contactController.js"></script>
    }
    <div class="wrapper">
        <div class="row" style="margin-bottom:50px;">
            <div class="col-md-12">
                <div class="col-md-6">
                    <br />
                    <h2>Gửi thông tin</h2>
                    <form>
                        <div class="form-group">
                            <label>Mac ID</label>
                            <input type="text" id="txtMacID" name="txtMacID" class="form-control" style="width:300px;" />
                        </div>

                        <div class="form-group">
                            <label>X</label>
                            <input type="text" id="txtCordinateX" name="txtCordinateX" class="form-control" ymaxlength="50" style="width:300px;" />
                        </div>
                        <div class="form-group">
                            <label>Y</label>
                            <input type="text" id="txtCordinateY" name="txtCordinateY" class="form-control" maxlength="50" style="width:300px;" />
                        </div>
                        <div class="form-group">
                            <label>Shop ID</label>
                            <input type="text" id="txtShopID" name="txtShopID" class="form-control" style="width:300px;" />
                        </div>
                        <div class="form-group">
                            <label>Information</label>
                            <input type="text" id="txtInformation" name="txtInformation" class="form-control" style="width:300px;" />
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" id="txtName" name="txtName" class="form-control" style="width:300px;" />
                        </div>

                    </form>
                </div>


                <div class="col-md-6">
                    <h2>Bản đồ</h2>
                    <div class="map" id="mapCanvas"></div>
                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDCt93IfTQUis18bxJ239rL1kVsu_zNgHw&callback=initMap"></script>
                    <script>

                    // This example displays a marker at the center of Australia.
                    // When the user clicks the marker, an info window opens.
                    // 20.986943, 105.525901
                        function initMap() {
                            var uluru = { lat: 21.0466242, lng: 105.7864633 };
                        var infoWindow = new google.maps.InfoWindow();
                         var latlngbounds = new google.maps.LatLngBounds();
                         var map = new google.maps.Map(document.getElementById('mapCanvas'), {
                            zoom: 15,
                            center: uluru
                        });

                         google.maps.event.addListener(map, 'click', function (e) {

                            document.getElementById("txtCordinateX").value = e.latLng.lat();
                            document.getElementById("txtCordinateY").value = e.latLng.lng();
                            placeMarker(e.latLng);

                        });

                         function placeMarker(location) {
                             var marker = new google.maps.Marker({
                                 position: location,
                                 map:map
                             });
                         }


                    }
                    google.maps.event.addDomListener(window, 'load', initMap);
                    </script>
                    <input class="Button" id="submit" type="submit" value="submit" />
                </div>
            </div>
        </div>
    </div>
}



